<template lang="pug">
  .form-contacto(:class="{large: large}")
    .titulo
      span ¿Necesita un vehículo cómodo y seguro?
    .subtitulo
      span Consulte en segundos la disponibilidad de cualquiera de nuestros modelos.
    form(@submit.prevent="sendMensaje")
      input(
        placeholder='Nombre y Apellido'
        name='nombre'
        type='text'
        v-model="contacto.nombre"
        v-validate="'required'"
        :class="{invalid: errors.has('nombre')}")
      input(
        placeholder='Email'
        name='email'
        type='email'
        v-model="contacto.email"
        v-validate="'required|email'"
        :class="{invalid: errors.has('email')}")
      input(
        placeholder='Teléfono'
        name='telefono'
        type='numeric'
        v-model="contacto.telefono"
        v-validate="'required|numeric'"
        :class="{invalid: errors.has('telefono')}")
      input(
        placeholder='Modelo de vehículo'
        name='modelo'
        type='text'
        v-model="contacto.modelo"
        v-validate="'required'"
        :class="{invalid: errors.has('modelo')}")
      input(
        placeholder='Días de uso'
        name='dias'
        type='numeric'
        v-model="contacto.dias"
        v-validate="'required|numeric'"
        :class="{invalid: errors.has('dias')}")
      button(
        type="submit"
        :disabled="sent || !validForm")
        span(v-if="!sent") Contratar
        font-awesome-icon(
          v-if="sent"
          icon="circle-notch"
          spin)
      .respuesta
        small(v-if="envioCorrecto") El mensaje fue enviado correctamente, nos contactaremos a la brevedad.
        small(v-if="envioErroneo") Ocurrió un error, intentalo nuevamente más tarde.
</template>

<script>
export default {
  props: ["modelo", "large"],
  data() {
    return {
      sent: false,
      envioCorrecto: false,
      envioErroneo: false,
      contacto: {
        nombre: "",
        email: "",
        telefono: "",
        modelo: this.modelo ? this.modelo : "",
        dias: ""
      }
    };
  },
  methods: {
    async sendMensaje() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          this.envioCorrecto = false;
          this.envioErroneo = false;
          try {
            const { status } = await this.$http({
              method: "POST",
              url: "/api/mailing/contacto",
              body: { ...this.contacto }
            });
            if (status === 201) {
              this.envioCorrecto = true;
            } else {
              this.envioErroneo = true;
            }
          } catch (error) {
            // console.error(error);
            this.envioErroneo = true;
          }
          this.sent = false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.form-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(#000, 0.4);
  width: 285px;
  padding: 20px;
  &.large {
    width: 500px;
    position: relative;
    z-index: 5;
    @include sombra(0 0 1px 0 #ccc);
    background-color: rgba(#000, 0.7);
    @media all and (max-width: $btLG + 100) {
      width: 90%;
    }
    * {
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($colorGris1, 0.7);
    }
  }
  .titulo {
    margin-bottom: 15px;
    span {
      color: #fff;
      text-transform: uppercase;
    }
  }
  .subtitulo {
    line-height: 0.9;
    margin-bottom: 15px;
    span {
      color: #fff;
      font-size: 95%;
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    input {
      background-color: rgba(#000, 0.7);
      color: #fff;
      border: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      font-size: 102%;
      margin-bottom: 5px;
      @include ease-transition;
      &.invalid {
        @include sombra(0 0 1px 2px #f22);
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 0;
      background-color: $colorRojo1;
      color: #fff;
      text-transform: uppercase;
      height: 48px;
      font-size: 125%;
      margin: 10px 0;
      cursor: pointer;
      @include ease-transition;
      &:hover:not(:disabled) {
        @include sombra(0 0 3px 0 #888);
      }
      &:disabled {
        opacity: 0.7;
        @include grayscale(1);
      }
    }
    .respuesta {
      small {
        color: #fff;
      }
    }
  }
}
</style>
