<template lang="pug">
  .slider-form
    Slider
    .titulo-formulario
      .titulo-boton
        .titulo
          span {{"Servicios de calidad \ny vehículos de comfort \nen tiempo récord"}}
        router-link.boton(to="/rental/#autos")
          span Ver vehículos disponibles
      .formulario
        FromContacto
</template>

<script>
import Slider from "@/site/views/Rental/Cabecera/Slider";
import FromContacto from "@/site/views/Rental/Cabecera/FromContacto";

export default {
  components: {
    Slider,
    FromContacto
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.slider-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 85vh;
  padding: 0 10vw;
  @media all and (max-width: $btMD) {
    height: auto;
    padding-bottom: 35px;
  }
  .titulo-formulario {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: $btMD) {
      height: auto;
      flex-direction: column;
      padding: 45px 0;
    }
    .titulo-boton {
      @media all and (max-width: $btMD) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 75vh;
      }
      .titulo {
        margin-bottom: 45px;
        @media all and (max-width: $btMD) {
          margin-bottom: 25px;
        }
        span {
          color: #fff;
          text-transform: uppercase;
          white-space: pre-line;
          font-size: 275%;
          line-height: 1.2;
          @media all and (max-width: $btMD) {
            font-size: 175%;
          }
        }
      }
      a.boton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorRojo1;
        padding: 15px;
        border: 0;
        cursor: pointer;
        text-decoration: none;
        width: 225px;
        text-align: center;
        @include ease-transition;
        &:hover {
          @include sombra(0 0 3px 0 #888);
        }
        span {
          color: #fff;
          font-size: 95%;
          text-transform: uppercase;
        }
      }
    }
  }
}
</style>
