<template lang="pug">
  .contenedor-slider
    .slider
      .slides(:class="`activo-${slideActivo}`")
        .slide(
          v-for="(slide, index) in slides"
          :key="index"
          :style="`background-image: url(${slide})`")
    .indicadores
      .indicador(
        v-for="(slide, index) in slides"
        :key="index"
        :class="{active: slideActivo === index}"
        @click="setSlideIndex(index)")
    .arrow.left(@click="setSlide(-1)")
      font-awesome-icon(icon="chevron-left")
    .arrow.right(@click="setSlide(1)")
      font-awesome-icon(icon="chevron-right")
</template>

<script>
const slides = [require("../../../../assets/images/home/slider/slide-1.jpg")];

export default {
  data() {
    return {
      slides,
      slideActivo: 0
    };
  },
  mounted() {
    setTimeout(this.setSlidesLoop, 7500);
  },
  methods: {
    setSlide(add) {
      if (this.slideActivo + add >= 0 && this.slideActivo + add < slides.length)
        this.slideActivo += add;
    },
    setSlideIndex(index) {
      this.slideActivo = index;
    },
    setSlidesLoop() {
      if (this.slideActivo === this.slides.length - 1) this.setSlideIndex(0);
      else this.setSlide(1);
      setTimeout(this.setSlidesLoop, 7500);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.contenedor-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .slides {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      @include ease-transition(700ms);
      @for $i from 1 through 3 {
        &.activo-#{$i} {
          -webkit-transform: translateX($i * -100%);
          transform: translateX($i * -100%);
        }
      }
      .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .indicadores {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .indicador {
      display: flex;
      justify-content: center;
      align-items: center;
      @include minmaxwh(7px);
      border-radius: 50%;
      background-color: #fff;
      @include ease-transition;
      margin: 0 5px;
      cursor: pointer;
      &:hover:not(.active) {
        background-color: #f44;
      }
      &.active {
        background-color: $colorRojo1;
      }
    }
  }
  .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    @include minmaxwh(48px);
    cursor: pointer;
    @media all and (max-width: $btMD) {
      display: none;
    }
    &:hover {
      svg {
        color: $colorRojo1;
      }
    }
    &.left {
      left: 30px;
    }
    &.right {
      right: 30px;
    }
    svg {
      color: #fff;
      font-size: 180%;
      @include ease-transition;
    }
  }
}
</style>
