$btXS: 575px;
$btSM: 576px;
$btMD: 768px;
$btLG: 992px;
$btXL: 1199px;

$mqMobileL: 425px;
$mqMobileM: 375px;
$mqMobileS: 320px;

$colorGris1: #424242;
$colorGris2: #242424;
$colorGris3: #1c1c1c;
$colorGris4: #dcdcdc;
$colorRojo1: #ff0000;
$colorRojo2: #da0006;

$fontTriompheLight: "Triomphe-Light";
$fontTriompheRegular: "Triomphe-Regular";

$colorGris5: blue;
$colorAzul: blue;
$colorCeleste1: #49a9e3;
$colorVerde: #00ab4d;

$fontTrebuchetBoldItalic: "";
$fontMontserratExtraBoldItalic: "";
$fontMontserratSemiBold: "";
$fontMontserratRegular: "";