<template lang="pug">
  #nosotros.quienes-somos
    .imagen
      img(
        src="@/assets/images/home/quienes-somos/fondo.jpg"
        alt="Fondo quiénes somos")
    .contenido
      .titulo
        span Quiénes somos
      .subtitulo
        span Somos una compañía Argentina con una visión clara que tiene como objetivo el de brindar herramientas a las distintas industrias para poder potenciar sus soluciones y el alcance de sus servicios y productos. Nos enfocamos en poder ofrecerle al cliente:
      .items
        .item(
          v-for="(item, index) in items"
          :key="index")
          .icono
            img(
              :src="item.icono"
              :alt="`Ícono ${item.texto}`")
          .texto
            span {{item.texto}}

</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          icono: require("../../../../assets/images/home/quienes-somos/auto.png"),
          texto: "Gran gama de opciones"
        },
        {
          icono: require("../../../../assets/images/home/quienes-somos/escudo.png"),
          texto: "Servicio rápido y responsable"
        },
        {
          icono: require("../../../../assets/images/home/quienes-somos/estado.png"),
          texto: "Vehículos en excelente estado"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.quienes-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  @media all and (max-width: $btMD) {
    height: auto;
    flex-direction: column;
  }
  .imagen {
    width: 60%;
    height: 100%;
    position: relative;
    @media all and (max-width: $btMD) {
      width: 100%;
      height: auto;
      &::after {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 250px (0.85 * 250px);
      border-color: transparent transparent #ffffff transparent;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media all and (max-width: $btMD) {
        height: 250px;
      }
    }
  }
  .contenido {
    width: 40%;
    height: 100%;
    padding: 20px 10px;
    @media all and (max-width: $btMD) {
      width: 100%;
      padding: 25px;
    }
    .titulo {
      margin-bottom: 10px;
      span {
        text-transform: uppercase;
        font-size: 180%;
      }
    }
    .subtitulo {
      line-height: 0.95;
      margin-bottom: 20px;
      span {
        color: rgba($colorGris1, 0.8);
        font-size: 90%;
      }
    }
    .items {
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 7px;
        .icono {
          @include minmaxwh(25px);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .texto {
          span {
          }
        }
      }
    }
  }
}
</style>
