<template lang="pug">
  .landing
    .mitad#rental
      router-link.boton(to="/rental")
        span Alquiler de vehículos
    .mitad#servicios
      router-link.boton(to="/servicios")
        span Servicios petroleros
    #logo
      img(src="@/assets/images/logo.png", alt="Logo")

</template>

<script>
export default {
  data() {
    return {
      foo: []
    };
  }
};
</script>
<style lang="scss" scoped>
@import "~Styles/_config.scss";
.landing {
  background-image: url("../../../assets/images/landing/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #logo {
    position: relative;
    top: -80px;
    max-width: 200px;
    @media all and (max-width: $btMD) {
      top: initial;
    }
    img {
      // width: 100%;
      filter: drop-shadow(5px 5px 10px rgba(#fff, 0.5));
      @media all and (max-width: $btMD) {
        max-height: 100px;
        // top: 50vh;
      }
    }
  }

  .mitad {
    position: absolute;
    top: 70vh;
    font-weight: bold;
    &#rental {
      left: 15vw;
      a.boton {
        background-color: rgba($colorRojo2, 1);
      }
      @media all and (max-width: $btMD) {
        left: 10px;
        top: 30vh;
      }
    }
    &#servicios {
      right: 15vw;
      a.boton {
        background-color: rgba($colorVerde, 1);
      }
      @media all and (max-width: $btMD) {
        right: 10px;
        top: 70vh;
      }
    }
    a.boton {
      padding: 10px 20px;
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      white-space: pre-line;
      font-size: 115%;
      line-height: 1.2;
      text-decoration: none;
      @media all and (max-width: $btMD) {
        font-size: 150%;
      }
      span {
        text-decoration: none;
      }
    }
  }
}
</style>
