<template lang="pug">
  #contacto.footer
    .contacto
      .titulo-datos
        .titulo
          span Contacto
        .datos
          .dato
            span Dir.: Lules 80, Neuquén capital.
          .dato
            span Tel.:
            a(href="tel:+5492994474049", target="_blank") (0299) 447-4049
          .dato
            span Tel.:
            a(href="tel:+5492995277479", target="_blank") (0299) 155-277479
          .dato
            span Email:
            a(href="mailto:geroinasrl@gmail.com", target="_blank") geroinasrl@gmail.com
          .dato
            span Horarios: Lunes a viernes de 8 a 18hs
          .dato
            a(href="/documentos/POLITICA_DE_CALIDAD_R00_PROCARG.pdf", target="_blank") Políticas de Calidad
      .redes-sociales
        .red-social.instagram
          a(href="https://instagram.com", target="_blank")
            font-awesome-icon(:icon="['fab', 'instagram']")
        .red-social.twitter
          a(href="https://twitter.com", target="_blank")
            font-awesome-icon(:icon="['fab', 'twitter']")
        .red-social.facebook
          a(href="https://facebook.com", target="_blank")
            font-awesome-icon(:icon="['fab', 'facebook-f']")
    .mapa
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.7112016680485!2d-68.02642158464806!3d-38.95342557956197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a31a02725ae91%3A0xd95e42c05c34117f!2zTHVsZXMsIE5ldXF1w6lu!5e0!3m2!1ses-419!2sar!4v1581538487964!5m2!1ses-419!2sar"
        frameborder="0"
        allowfullscreen="")
    .newsletter-pago
      .newsletter
        .titulo
          span Suscribite a nuestro newsletter
        .formulario-respuesta
          .formulario
            form(
              @submit.prevent="sendMensaje"
              v-if="!envioCorrecto && !envioErroneo")
              input(
                placeholder='Email'
                name='email'
                type='email'
                v-model="contacto.email"
                v-validate="'required|email'"
                :class="{invalid: errors.has('telefono')}")
              button(
                type="submit"
                :disabled="sent || !validForm")
                span(v-if="!sent") Suscribirse
                font-awesome-icon(
                  v-if="sent"
                  icon="circle-notch"
                  spin)
          .respuesta
            small(v-if="envioCorrecto") El mensaje fue enviado correctamente, nos contactaremos a la brevedad.
            small(v-if="envioErroneo") Ocurrió un error, intentalo nuevamente más tarde.
      .metodos-pago
        .titulo
          span Nuestros métodos de pago
        .metodos
          img(
            src="@/assets/images/medios-de-pago.png"
            alt="Métodos de pago")
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      envioCorrecto: false,
      envioErroneo: false,
      contacto: {
        nombre: "",
        email: ""
      }
    };
  },
  methods: {
    async sendMensaje() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          this.envioCorrecto = false;
          this.envioErroneo = false;
          try {
            const { status } = await this.$http({
              method: "POST",
              url: "/api/mailing/newsletters",
              body: { ...this.contacto }
            });
            if (status === 201) {
              this.envioCorrecto = true;
            } else {
              this.envioErroneo = true;
            }
          } catch (error) {
            // console.error(error);
            this.envioErroneo = true;
          }
          this.sent = false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: $colorGris3;
  @media all and (max-width: $btLG + 100) {
    flex-direction: column;
    padding: 15px;
  }
  .contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 280px;
    min-width: 255px;
    @media all and (max-width: $btLG + 100) {
      width: 100%;
      max-width: 500px;
      align-items: center;
      margin-bottom: 30px;
      text-align: center;
    }
    .titulo-datos {
      .titulo {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $colorRojo1;
        span {
          text-transform: uppercase;
          color: #fff;
          font-size: 120%;
        }
      }
      .datos {
        .dato {
          margin: 12px 0;
          span {
            color: #fff;
            margin-right: 5px;
          }
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .redes-sociales {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      @media all and (max-width: $btLG + 100) {
        justify-content: center;
      }
      .red-social {
        display: flex;
        justify-content: center;
        align-items: center;
        @include minmaxwh(30px);
        margin: 0 5px;
        border-radius: 50%;
        background-color: #fff;
        @include ease-transition;
        cursor: pointer;
        &:hover {
          background-color: $colorRojo1;
          a {
            color: #fff;
          }
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: $colorRojo1;
          font-size: 85%;
          @include ease-transition;
        }
      }
    }
  }
  .mapa {
    width: 50%;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    @media all and (max-width: $btLG + 100) {
      width: 100%;
      max-width: 500px;
      margin-bottom: 30px;
    }
    iframe {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  .newsletter-pago {
    width: 25%;
    min-width: 255px;
    @media all and (max-width: $btLG + 100) {
      width: 100%;
      max-width: 500px;
      text-align: center;
    }
    .titulo {
      text-align: right;
      width: 100%;
      margin-bottom: 15px;
      @media all and (max-width: $btLG + 100) {
        text-align: center;
      }
      span {
        text-transform: uppercase;
        color: #fff;
        font-size: 120%;
      }
    }
    .newsletter {
      width: 100%;
      .formulario-respuesta {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        .formulario {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            input {
              background-color: rgba(#000, 0.4);
              color: #fff;
              border: 0;
              width: 75%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 10px;
              height: 30px;
              margin-bottom: 5px;
              @include ease-transition;
              &.invalid {
                @include sombra(inset 0 0 0 2px $colorRojo1);
              }
            }
            button {
              color: #fff;
              border: 0;
              width: 25%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 80%;
              margin-bottom: 5px;
              @include ease-transition;
              background-color: $colorRojo1;
              text-transform: uppercase;
              height: 30px;
              @media all and (max-width: $btLG + 100) {
                min-width: 85px;
              }
            }
          }
        }
        .respuesta {
          text-align: right;
          height: 45px;
          small {
            color: #fff;
          }
        }
      }
    }
    .metodos-pago {
      width: 100%;
      .metodos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid $colorRojo1;
        padding-top: 20px;
        img {
          width: 85%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
</style>
