<template lang="pug">
  .main-menu(:class="{black: $route.path === '/servicios'}")
    a.logo(href="/")
      img(src="@/assets/images/logo.png", alt="Logo")
    .items(:class="{open: showMenu}")
      .item(
        @click="toggleMenu"
        :class="{active: $route.path === '/' && !$route.hash}")
        router-link(to="/") Inicio
      .item(
        @click="toggleMenu"
        :class="{active: $route.path === '/rental'}")
        router-link(to="/rental") Rental
      .item(
        @click="toggleMenu"
        :class="{active: $route.hash === '#nosotros'}")
        router-link(to="/rental/#nosotros") Nosotros
      .item(
        @click="toggleMenu"
        :class="{active: $route.hash === '#autos'}")
        router-link(to="/rental/#autos") Autos
      .item(
        @click="toggleMenu"
        :class="{active: $route.hash === '#pickups'}")
        router-link(to="/rental/#pickups") Pickups
      .item(
        @click="toggleMenu"
        :class="{active: $route.path === '/servicios'}")
        router-link(to="/servicios") Servicios
      .item(
        @click="toggleMenu"
        :class="{active: $route.hash === '#contacto'}")
        router-link(to="/#contacto") Contacto
      a.item.whatsapp(
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5492995277479")
        font-awesome-icon(:icon="['fab', 'whatsapp']")
        span 299 5277479
    a.whatsapp(
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5492995277479")
      font-awesome-icon(:icon="['fab', 'whatsapp']")
      span 299 5277479
    .menu-toggler(@click="toggleMenu")
      font-awesome-icon(icon="bars")
</template>
<script>
export default {
  data() {
    return {
      showMenu: false
    };
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: $colorGris1;
  position: relative;
  @media all and (max-width: $btLG) {
    padding: 10px 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    background-color: transparent;
    &.black {
      .menu-toggler {
        border: 2px solid $colorGris1;
        color: $colorGris1;
        &:hover {
          background-color: $colorGris1;
          color: #fff;
        }
      }
    }
  }
  a.logo {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: $btLG) {
      @include ease-transition(500ms);
      position: absolute;
      flex-direction: column;
      top: 65px;
      background-color: $colorGris1;
      padding-bottom: 7px;
      left: -100%;
      opacity: 0;
      z-index: -1000;
      width: 0;
      &.open {
        left: 0;
        opacity: 1;
        z-index: 1000;
        width: 100%;
      }
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      @media all and (max-width: $btLG) {
        height: 48px;
        width: 100%;
      }
      &.active {
        a {
          color: $colorRojo1;
        }
      }
      &.whatsapp {
        display: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        @include ease-transition;
        padding-bottom: 2px;
        @media all and (max-width: $btLG) {
          display: none;
        }
        &:hover {
          @include sombra(0 3px 0 0 #fff);
        }
        svg {
          font-size: 200%;
        }
        span {
          margin-left: 8px;
        }
        @media all and (max-width: $btLG) {
          display: flex;
          width: auto;
        }
      }
      &:hover:not(.active) {
        a {
          @include sombra(0 3px 0 0 #fff);
        }
      }
      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include ease-transition;
        cursor: pointer;
        padding: 7px;
      }
    }
  }
  a.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    @include ease-transition;
    padding-bottom: 2px;
    @media all and (max-width: $btLG) {
      display: none;
    }
    &:hover {
      @include sombra(0 3px 0 0 #fff);
    }
    svg {
      font-size: 200%;
    }
    span {
      margin-left: 8px;
    }
  }
  .menu-toggler {
    display: none;
    justify-content: center;
    align-items: center;
    @include minmaxwh(48px);
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 110%;
    @include ease-transition;
    cursor: pointer;
    @media all and (max-width: $btLG) {
      display: flex;
    }
    &:hover {
      background-color: #fff;
      color: $colorGris1;
    }
  }
}
</style>
