<template lang="pug">
  .fondo
    img.fadeIn(
      v-if="tipoActivo === 'auto'"
      src="@/assets/images/home/vehiculos/fondo-autos.jpg"
      alt="Fondo autos")
    img.fadeIn(
      v-if="tipoActivo === 'pickup'"
      src="@/assets/images/home/vehiculos/fondo-pickups.jpg"
      alt="Fondo pickups")
    img(
      src="@/assets/images/home/vehiculos/humo.png"
      alt="Humo")
</template>

<script>
export default {
  props: ["tipoActivo"]
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.fondo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
