<template lang="pug">
  .galeria
    .black-screen(@click="closeGaleria")
    .contenedor-galeria
      .close(@click="closeGaleria")
        font-awesome-icon(icon="times")
      .arrow.left(
        v-if="imagenes && imagenes.length > 0"
        @click="setThumbs(-1)")
        font-awesome-icon(icon="chevron-left")
      .arrow.right(
        v-if="imagenes && imagenes.length > 0"
        @click="setThumbs(1)")
        font-awesome-icon(icon="chevron-right")
      .imagen-activa(v-if="imagenes && imagenes.length > 0")
        img(
          :src="imagenes[imagenActiva]"
          alt="Imagen activa")
      .thumbs(v-if="imagenes && imagenes.length > 0")
        .tira-thumbs(:class="`activo-${thumbsActivo}`")
          .thumb(
            v-for="(thumb, index) in imagenes"
            :key="index"
            @click="setImagenActiva(index)"
            :class="{active: imagenActiva === index}")
            img(
              :src="thumb"
              :alt="`Thumb ${index}`")
      .no-imagenes(v-if="!imagenes || imagenes.length === 0")
        span No hay imágenes para mostrar
</template>

<script>
export default {
  props: ["imagenes", "toggleGaleria"],
  data() {
    return {
      imagenActiva: 0,
      thumbsActivo: 0
    };
  },
  mounted() {
    window.addEventListener("keyup", this.setEscClose);
  },
  beforeDestroy() {
    window.removeEventListener("keyup", this.setEscClose);
  },
  methods: {
    setEscClose(ev) {
      if (ev.keyCode && ev.keyCode === 27) this.closeGaleria();
    },
    closeGaleria() {
      this.toggleGaleria(false);
    },
    setImagenActiva(index) {
      this.imagenActiva = index;
    },
    setThumbs(add) {
      // % cant Es la cantidad de imágenes que entran en desktop
      const cant = window.innerWidth > 1000 ? 8 : 5;

      if (
        this.thumbsActivo + add >= 0 &&
        (this.thumbsActivo + add) * cant < this.imagenes.length &&
        this.imagenes.length > cant
      )
        this.thumbsActivo += add;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.galeria {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .black-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
  }
  .contenedor-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55vw;
    height: 65vh;
    position: relative;
    background-color: #000;
    @include sombra(0 0 15px 0 $colorRojo1);
    position: relative;
    padding: 15px;
    @media all and (max-width: $btLG + 100) {
      width: 90%;
    }
    .close {
      position: absolute;
      top: -40px;
      right: -40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include minmaxwh(48px);
      cursor: pointer;
      @media all and (max-width: $btLG + 100) {
        right: 0px;
        top: -50px;
      }
      svg {
        color: #fff;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 1%;
      top: 2%;
      width: 98%;
      height: 96%;
      @include sombra(0 0 7px 0 $colorRojo1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      @include minmaxwh(35px);
      cursor: pointer;
      bottom: 35px;
      z-index: 2;
      @media all and (max-width: $btLG + 100) {
        display: none;
      }
      &:hover {
        svg {
          color: $colorRojo1;
        }
      }
      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
      svg {
        color: #fff;
        font-size: 125%;
        @include ease-transition;
      }
    }
    .imagen-activa {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .thumbs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      overflow: hidden;
      padding: 3px 0;
      max-width: 100%;
      height: 20%;
      @media all and (max-width: $btLG + 100) {
        overflow: auto;
      }
      .tira-thumbs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        @include ease-transition(700ms);
        @for $i from 1 through 5 {
          &.activo-#{$i} {
            -webkit-transform: translateX($i * -100%);
            transform: translateX($i * -100%);
          }
        }
        .thumb {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 0.05 * 100vw;
          margin: 0 5px;
          cursor: pointer;
          @include ease-transition;
          @media all and (max-width: $btLG + 100) {
            height: 0.15 * 100vw;
          }
          &:hover,
          &.active {
            @include sombra(0 0 3px 0 $colorRojo1);
          }
          img {
            width: 0.05 * 100vw;
            height: 100%;
            object-fit: cover;
            @media all and (max-width: $btLG + 100) {
              width: 0.15 * 100vw;
            }
          }
        }
      }
    }
    .no-imagenes {
      span {
        color: #fff;
        text-align: center;
      }
    }
  }
}
</style>
