<template lang="pug">
  .vehiculos
    .anchors
      #autos
      #pickups
    Fondo(
      :tipoActivo="tipoActivo")
    TiraSuperior.fadeIn(
      v-if="loaded && vehiculoActivo && vehiculoActivo.marca"
      :autos="autos"
      :pickups="pickups"
      :marcas="marcas"
      :vehiculoActivo="vehiculoActivo"
      :setVehiculoActivo="setVehiculoActivo")
    VehiculoActivo.fadeIn(
      v-if="loaded && vehiculoActivo && vehiculoActivo.marca"
      :vehiculoActivo="vehiculoActivo"
      :setGaleria="setGaleria"
      :toggleGaleria="toggleGaleria"
      :solicitarVehiculo="solicitarVehiculo")
    Galeria.fadeIn(
      v-if="showGaleria"
      :imagenes="galeria[vehiculoActivo._id]"
      :toggleGaleria="toggleGaleria")
    SolicitarVehiculo.fadeIn(
      v-if="modeloSolicitado"
      :modeloSolicitado="modeloSolicitado"
      :closeDialog="closeSolicitarVehiculo")
</template>

<script>
import Fondo from "@/site/views/Rental/Vehiculos/Fondo";
import TiraSuperior from "@/site/views/Rental/Vehiculos/TiraSuperior";
import VehiculoActivo from "@/site/views/Rental/Vehiculos/VehiculoActivo";
import Galeria from "@/site/views/Rental/Vehiculos/Galeria";
import SolicitarVehiculo from "@/site/views/Rental/Vehiculos/SolicitarVehiculo";

export default {
  components: {
    TiraSuperior,
    Fondo,
    VehiculoActivo,
    Galeria,
    SolicitarVehiculo
  },
  data() {
    return {
      loaded: false,
      tipoActivo: "auto",
      vehiculoActivo: "",
      autos: [],
      pickups: [],
      marcas: {},
      galeria: {},
      showGaleria: false,
      modeloSolicitado: ""
    };
  },
  watch: {
    $route(newVal) {
      // console.log(newVal.hash);
      this.setTipoActivo(newVal.hash);
      this.setFirstVehiculo();
    }
  },
  mounted() {
    this.setTipoActivo(this.$route.hash);
    this.setFirstVehiculo();
  },
  methods: {
    setVehiculoActivo(vehiculo) {
      this.vehiculoActivo = { ...vehiculo };
      this.setTipoActivo(`#${vehiculo.tipo}s`);
    },
    setGaleria(imagenes) {
      if (!this.galeria[this.vehiculoActivo._id]) {
        this.galeria[this.vehiculoActivo._id] = [...imagenes];
      }
    },
    toggleGaleria(show) {
      this.showGaleria = show;
    },
    closeSolicitarVehiculo() {
      this.modeloSolicitado = "";
    },
    solicitarVehiculo() {
      this.modeloSolicitado = `${this.vehiculoActivo.marca.nombre} - ${this.vehiculoActivo.nombre}`;
    },
    setTipoActivo(hash) {
      if (hash === "#autos") {
        this.tipoActivo = "auto";
      } else if (hash === "#pickups") {
        this.tipoActivo = "pickup";
      }
    },
    async setFirstVehiculo() {
      try {
        const { data: vehiculos } = await this.$http.get("/api/vehiculos?$populate=marca");
        this.autos = [...vehiculos.filter(v => v.tipo === "auto")];
        this.pickups = [...vehiculos.filter(v => v.tipo === "pickup")];
        await Promise.all(
          vehiculos.map(async v => {
            if (!this.marcas[v.marca._id]) {
              if (v.marca.logo) {
                try {
                  const {
                    data: { uri: logo }
                  } = await this.$http.get(`/api/uploads/${v.marca.logo}`);
                  this.marcas[v.marca._id] = { ...v.marca, logo };
                } catch (error) {
                  // console.error(error);
                }
              }
            }
          })
        );
        if (this.tipoActivo === "pickup" && this.pickups.length > 0)
          this.vehiculoActivo = { ...this.pickups[0] };
        else if (this.autos.length > 0) this.vehiculoActivo = { ...this.autos[0] };
        this.loaded = true;
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.vehiculos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  @media all and (max-width: $btLG + 100) {
    height: auto;
    align-items: center;
  }
}
</style>
