<template lang="pug">
  .solicitar-vehiculo
    .black-screen(@click="closeDialog")
    .contenedor-form
      .close(@click="closeDialog")
        font-awesome-icon(icon="times")
      FromContacto(
        :modelo="modeloSolicitado"
        :large="true")
</template>

<script>
import FromContacto from "@/site/views/Rental/Cabecera/FromContacto";

export default {
  props: ["closeDialog", "modeloSolicitado"],
  components: {
    FromContacto
  },
  data() {
    return {};
  },
  mounted() {
    window.addEventListener("keyup", this.setEscClose);
  },
  beforeDestroy() {
    window.removeEventListener("keyup", this.setEscClose);
  },
  methods: {
    setEscClose(ev) {
      if (ev.keyCode && ev.keyCode === 27) this.closeDialog();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.solicitar-vehiculo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .black-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
  }
  .contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .close {
      position: absolute;
      top: -40px;
      right: -40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include minmaxwh(48px);
      cursor: pointer;
      @media all and (max-width: $btLG + 100) {
        right: 0px;
        top: -50px;
      }
      svg {
        color: #fff;
      }
    }
  }
}
</style>
