<template lang="pug">
  .tira-superior
    .logo-buscador
      .logo-marca(v-if="vehiculoActivo")
        img(
          :src="marcas[vehiculoActivo.marca._id].logo"
          :alt="`Logo ${marcas[vehiculoActivo.marca._id].nombre}`")
      .buscador
        .icono
          font-awesome-icon(icon="search")
        input(
          type="text"
          placeholder="Elegí tu auto"
          v-model="search"
          @focus="setFoundCars")
        .boton
          button(
            type="button"
            @click="setFoundCars") Buscar
        .modelos(:class="{active: search && foundCars.length > 0}")
          .modelo(
            v-for="modelo in foundCars"
            :key="modelo._id"
            @click="setActive(modelo)")
            span {{modelo.marca.nombre}} {{modelo.nombre}}
    .selector-tipo
      .tipo.autos
        .titulo
          span Autos
        .modelos
          .modelo(
            v-for="modelo in autos"
            :key="modelo._id"
            @click="setActive(modelo)")
            span {{modelo.marca.nombre}} {{modelo.nombre}}
      .tipo.pickups
        .titulo
          span Pickups
        .modelos
          .modelo(
            v-for="modelo in pickups"
            :key="modelo._id"
            @click="setActive(modelo)")
            span {{modelo.marca.nombre}} {{modelo.nombre}}
</template>

<script>
export default {
  props: ["autos", "pickups", "marcas", "vehiculoActivo", "setVehiculoActivo"],
  data() {
    return {
      search: "",
      foundCars: []
    };
  },
  watch: {
    search() {
      this.setFoundCars();
    }
  },
  methods: {
    setFoundCars() {
      const regex = new RegExp(`.*${this.search}.*`, "i");
      this.foundCars = [
        ...[...this.autos, ...this.pickups].filter(
          v => regex.test(v.nombre) || regex.test(v.marca.nombre)
        )
      ];
    },
    setActive(modelo) {
      this.setVehiculoActivo(modelo);
      this.foundCars = [];
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.tira-superior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 3vw;
  position: absolute;
  top: 30px;
  z-index: 10;
  @media all and (max-width: $btLG + 100) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    padding: 15px;
  }
  .logo-buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: $btLG + 100) {
      margin-top: 15px;
      flex-direction: column-reverse;
      width: 100%;
    }
    .logo-marca {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vw;
      height: 50px;
      @media all and (max-width: $btLG + 100) {
        width: 100px;
        height: 40px;
        margin-top: 10px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .buscador {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $colorGris1;
      background-color: #000;
      padding: 5px 15px;
      position: relative;
      @media all and (max-width: $btLG + 100) {
        width: 100%;
        padding: 0;
        padding-left: 15px;
        max-width: 500px;
        margin: 15px 0;
      }
      .icono {
        @media all and (max-width: $btLG + 100) {
          width: 2.5%;
          min-width: 20px;
        }
        svg {
          color: #fff;
          margin-right: 7px;
        }
      }
      input {
        border: 0;
        background-color: transparent;
        color: #fff;
        font-size: 105%;
        width: 300px;
        @media all and (max-width: $btLG + 100) {
          width: 87.5%;
          height: 40px;
          min-width: 0;
          padding-right: 5px;
        }
        &::placeholder {
          opacity: 0.9;
        }
      }
      .boton {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -22px;
        @media all and (max-width: $btLG + 100) {
          position: relative;
          right: 0;
          width: 10%;
          background-color: $colorRojo1;
          min-width: 85px;
          &::before,
          &::after {
            display: none;
          }
        }
        &::before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 29px 15px;
          border-color: transparent transparent $colorRojo1 transparent;
        }
        &::after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 29px 15px 0 0;
          border-color: $colorRojo1 transparent transparent transparent;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0;
          background-color: $colorRojo1;
          padding: 0 10px;
          height: 29px;
          text-transform: uppercase;
          color: #fff;
          font-size: 105%;
          padding-bottom: 2px;
          cursor: pointer;
          @media all and (max-width: $btLG + 100) {
            height: 40px;
          }
        }
      }
      .modelos {
        background-color: $colorGris2;
        width: 100%;
        position: absolute;
        opacity: 0;
        z-index: -1000;
        @include ease-transition;
        padding: 5px 0;
        top: 100%;
        left: 0;
        margin-top: 2px;
        &.active {
          opacity: 1;
          z-index: 0;
        }
        .modelo {
          cursor: pointer;
          @include ease-transition;
          padding: 7px 15px;
          &:hover {
            background-color: $colorGris1;
          }
          span {
            color: #fff;
            font-size: 87%;
            font-family: $fontTriompheLight;
          }
        }
      }
    }
  }
  .selector-tipo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media all and (max-width: $btLG + 100) {
      width: 100%;
      max-width: 500px;
    }
    .tipo {
      position: relative;
      @media all and (max-width: $btLG + 100) {
        width: 50%;
        margin: 0 7px;
      }
      &:hover > .modelos {
        opacity: 1;
        z-index: 0;
      }
      .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        @include sombra-arrojada(0.5px 0.5px 3px $colorRojo1);
        cursor: pointer;
        position: relative;
        z-index: 1;
        @media all and (max-width: $btLG + 100) {
          width: 100%;
          &::before,
          &::after {
            display: none;
          }
        }
        &::before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 45px 22px;
          border-color: transparent transparent $colorGris1 transparent;
        }
        &::after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 45px 22px 0 0;
          border-color: $colorGris1 transparent transparent transparent;
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 200px;
          background-color: $colorGris1;
          text-transform: uppercase;
          color: #fff;
          font-size: 105%;
          @media all and (max-width: $btLG + 100) {
            font-size: 100%;
            width: 100%;
            height: 40px;
          }
        }
      }
      .modelos {
        background-color: $colorGris2;
        width: 200px + 22px;
        position: absolute;
        opacity: 0;
        z-index: -1000;
        @include ease-transition;
        padding: 5px 0;
        max-height: 500px;
        overflow: auto;
        @media all and (max-width: $btLG + 100) {
          width: 100%;
        }
        .modelo {
          cursor: pointer;
          @include ease-transition;
          padding: 7px 15px;
          &:hover {
            background-color: $colorGris1;
          }
          span {
            color: #fff;
            font-size: 87%;
            font-family: $fontTriompheLight;
          }
        }
      }
    }
  }
}
</style>
