<template lang="pug">
  .vehiculo-activo
    .datos
      .nombre(v-if="vehiculoActivo")
        span {{vehiculoActivo.marca.nombre}}
        span {{vehiculoActivo.nombre}}
      .descripcion
        p {{vehiculoActivo.descripcion}}
      .solicitar
        button(@click="solicitarVehiculo") Solicitar ahora
      .imagen.mobile
        .boton-galeria(@click="toggleGaleria(true)")
          button Galería multimedia
        .auto-completo
          img(
            :src="imagenPrincipalURI"
            alt="Imagen principal")
        .disclaimer
          p Las imágenes son ilustrativas. Se proveerá dicho modelo o similar.
      .metricas
        .metrica.velocidad-maxima
          .valor
            span {{vehiculoActivo.velocidadMaxima}}
            small km/h
          .label
            span Velocidad máxima
        .metrica.autonomia
          .valor
            span {{vehiculoActivo.autonomia}}
            small l/100km
          .label
            span Autonomía
        .metrica.kilometraje
          .valor
            span {{vehiculoActivo.kilometraje}}
            small km
          .label
            span Kilometraje
    .imagen.desktop
      .boton-galeria(@click="toggleGaleria(true)")
        button Galería multimedia
      .auto-completo
        img(
          :src="imagenPrincipalURI"
          alt="Imagen principal")
      .disclaimer
        p Las imágenes son ilustrativas. Se proveerá dicho modelo o similar.
</template>

<script>
export default {
  props: ["vehiculoActivo", "setGaleria", "toggleGaleria", "solicitarVehiculo"],
  data() {
    return {
      imagenPrincipalURI: ""
    };
  },
  watch: {
    vehiculoActivo(newVal, oldVal) {
      console.log(newVal, oldVal);

      if (!oldVal || newVal._id !== oldVal._id) {
        this.setImagenPrincipal();
        this.getGaleria();
      }
    }
  },
  mounted() {
    this.setImagenPrincipal();
    this.getGaleria();
  },
  methods: {
    async setImagenPrincipal() {
      if (this.vehiculoActivo.imagenPrincipal) {
        try {
          const {
            data: { uri: imagenPrincipal }
          } = await this.$http.get(`/api/uploads/${this.vehiculoActivo.imagenPrincipal}`);
          this.imagenPrincipalURI = imagenPrincipal;
        } catch (error) {
          // console.error(error);
        }
      } else {
        this.imagenPrincipalURI = require("../../../../assets/images/home/vehiculos/car-silhouette.png");
      }
    },
    async getGaleria() {
      if (this.vehiculoActivo.fotos && this.vehiculoActivo.fotos.length > 0) {
        const imagenes = await Promise.all(
          this.vehiculoActivo.fotos.map(async foto => {
            try {
              const {
                data: { uri: img }
              } = await this.$http.get(`/api/uploads/${foto}`);
              return img;
            } catch (error) {
              // console.error(error);
            }
            return null;
          })
        );
        this.setGaleria(imagenes);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.vehiculo-activo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  @media all and (max-width: $btLG + 100) {
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    max-width: 500px;
  }
  .datos {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 13vw;
    @media all and (max-width: $btLG + 100) {
      width: 100%;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    .nombre {
      margin-bottom: 20px;
      @media all and (max-width: $btLG + 100) {
        margin-bottom: 10px;
      }
      span {
        margin-right: 15px;
        font-size: 275%;
        color: #fff;
        text-transform: uppercase;
        @media all and (max-width: $btLG + 100) {
          font-size: 200%;
        }
        &:last-of-type {
          color: $colorRojo1;
        }
      }
    }
    .descripcion {
      margin-bottom: 40px;
      p {
        margin: 0;
        padding: 0;
        color: #fff;
        white-space: pre-line;
        column-count: 2;
        @media all and (max-width: $btLG + 100) {
          font-size: 90%;
        }
      }
    }
    .solicitar {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
      @include sombra-arrojada(0 0 10px $colorRojo1);
      margin-bottom: 100px;
      @media all and (max-width: $btLG + 100) {
        order: 11;
        margin-bottom: 25px;
        &::before,
        &::after {
          display: none;
        }
      }
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 35px 20px;
        border-color: transparent transparent $colorRojo1 transparent;
      }
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 20px 0 0;
        border-color: $colorRojo1 transparent transparent transparent;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: $colorRojo1;
        padding: 0 10px;
        height: 35px;
        text-transform: uppercase;
        color: #fff;
        font-size: 95%;
        padding-bottom: 2px;
        cursor: pointer;
      }
    }
    .metricas {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 50px;
      @media all and (max-width: $btLG + 100) {
        order: 10;
        justify-content: space-evenly;
      }
      .metrica {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        @include minmaxwh(7vw);
        margin-right: 65px;
        background-color: rgba(#000, 0.3);
        @include sombra(0 0 2px 0 #ccc);
        border-radius: 50%;
        position: relative;
        @include escalar(0.8);
        @media all and (max-width: $btLG + 100) {
          @include minmaxwh(85px);
          @include escalar(0.7);
          margin: 0;
        }
        &::before {
          content: "";
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          left: 1%;
          top: -3%;
          @include escalar(1.5);
          background-position: top 2%;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("../../../../assets/images/home/vehiculos/rayitas.png");
          z-index: 0;
        }
        &::after {
          content: "";
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          left: 0%;
          top: 0%;
          border-radius: 50%;
          z-index: 0;
          @include sombra(0 0 0 10px rgba(#000, 0.3));
        }
        .valor {
          @include minmaxwh(0.65 * 8vw);
          border-radius: 50%;
          white-space: pre-line;
          position: relative;
          z-index: 1;
          color: #fcc;
          text-shadow: 0 0 7px $colorRojo1;
          font-size: 200%;
          line-height: 0.95;
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-family: $fontTriompheLight;
          small {
            display: block;
            font-size: 50%;
          }
        }
        .label {
          position: relative;
          z-index: 1;
          white-space: nowrap;
          text-transform: uppercase;
          color: #fff;
          font-size: 95%;
          @media all and (max-width: $btLG + 100) {
            top: 30px;
          }
        }
      }
    }
  }
  .imagen {
    width: 50%;
    margin: 0 5%;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    &.mobile {
      display: none;
      @media all and (max-width: $btLG + 100) {
        display: flex;
        margin: 0;
        margin-bottom: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 300px;
      }
    }
    &.desktop {
      @media all and (max-width: $btLG + 100) {
        display: none;
      }
    }
    .boton-galeria {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
      @include sombra-arrojada(0 0 10px $colorRojo1);
      margin-bottom: 75px;
      position: absolute;
      right: 5%;
      top: 0;
      @media all and (max-width: $btLG + 100) {
        margin-bottom: 30px;
        position: relative;
        right: auto;
        top: auto;
        &::before,
        &::after {
          display: none;
        }
      }
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 35px 20px;
        border-color: transparent transparent $colorRojo1 transparent;
      }
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 20px 0 0;
        border-color: $colorRojo1 transparent transparent transparent;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: $colorRojo1;
        padding: 0 10px;
        height: 35px;
        text-transform: uppercase;
        color: #fff;
        font-size: 95%;
        padding-bottom: 2px;
        cursor: pointer;
      }
    }
    .auto-completo {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../../../../assets/images/home/vehiculos/base.png");
      padding-bottom: 5px;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .disclaimer {
      p {
        font-style: italic;
        color: #ffffff77;
      }
    }
  }
}
</style>
