<template lang="pug">
  .clientes
    .titulo
      span Confían en nosotros
    .no-items(v-if="clientes && clientes.length == 0")
      span No hay clientes para mostrar
    .items(v-if="clientes && clientes.length > 0")
      .item(
        v-for="cliente in clientes"
        :key="cliente._id")
        .imagen
          img(
            :src="cliente.logo"
            :alt="cliente.nombre"
            :title="cliente.nombre")
</template>

<script>
export default {
  data() {
    return {
      clientes: ""
    };
  },
  async mounted() {
    try {
      const { data: clientes } = await this.$http.get("/api/clientes?$sort[nombre]=+1");
      this.clientes = [
        ...(await Promise.all(
          clientes.map(async c => {
            const {
              data: { uri: logo }
            } = await this.$http.get(`/api/uploads/${c.logo}`);
            return { ...c, logo };
          })
        ))
      ];
    } catch (error) {
      console.error(error);
      this.clientes = [];
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px;
  background-color: #eee;
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      font-size: 200%;
      font-family: $fontTriompheRegular;
      color: $colorGris2;
      text-transform: uppercase;
    }
  }
  .no-items {
    margin: 20px;
    span {
      font-family: $fontTriompheLight;
      color: $colorGris1;
      font-size: 90%;
    }
  }
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12vw;
      height: 12vw;
      min-width: 150px !important;
      min-height: 150px !important;
      margin: 3vw;
      .imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img {
          object-fit: contain;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 85%;
          height: 85%;
        }
      }
    }
  }
}
</style>
