<template lang="pug">
  .home
    Cabecera
    Clientes
    Newsletters
    QuienSomos
    Vehiculos
</template>

<script>
import Cabecera from "@/site/views/Rental/Cabecera/Index";
import Clientes from "@/site/views/Rental/Clientes/Index";
import Newsletters from "@/site/views/Rental/Newsletters/Index";
import QuienSomos from "@/site/views/Rental/QuienesSomos/Index";
import Vehiculos from "@/site/views/Rental/Vehiculos/Index";

export default {
  components: {
    Cabecera,
    Clientes,
    Newsletters,
    QuienSomos,
    Vehiculos
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.home {
  .title {
    margin: 20px 0;
    span {
      font-size: 200%;
    }
  }
}
</style>
