<template lang="pug">
  .servicios
    .servicio(
      v-for="(servicio, index) in servicios"
      :key="index"
      :class="`servicio-${index + 1}`"
      :style="`background-image: url(${servicio.fondo})`")
      .contenido
        .titulo
          span {{servicio.titulo}}
        .texto
          p {{servicio.texto}}
</template>

<script>
import servicios from "@/assets/data/servicios.json";

export default {
  data() {
    return {
      servicios: []
    };
  },
  mounted() {
    window.addEventListener("resize", this.setServicios);
    this.setServicios();
  },
  beforeDestroy() {
    window.addRemoveListener("resize", this.setServicios);
  },
  methods: {
    setServicios() {
      this.servicios = servicios.map(s => ({
        ...s,
        fondo:
          s.fondoMobile && window.innerWidth < 768 + 100
            ? require(`../../../${s.fondoMobile}`)
            : require(`../../../${s.fondo}`)
      }));
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .servicio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    // height: 0.249 * 100vw;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 12%;
    @media all and (max-width: $btMD + 100) {
      flex-direction: column;
      justify-content: flex-end;
      height: 90vh;
      padding: 0;
      &::before,
      &::after {
        display: none;
      }
    }
    .contenido {
      position: relative;
      z-index: 1;
      color: #fff;
      width: 33%;
      @media all and (max-width: $btMD + 100) {
        width: 100%;
        padding: 25px;
        padding-top: 65px;
      }
      .titulo {
        span {
          text-transform: uppercase;
          font-size: 180%;
          white-space: pre-line;
          @media all and (max-width: $btXL) {
            font-size: 140%;
          }
          @media all and (max-width: $btMD + 100) {
            font-size: 200%;
            white-space: normal;
          }
        }
      }
      .texto {
        p {
          font-size: 95%;
        }
      }
    }
    &.servicio-1 {
      justify-content: flex-end;
    }
    &.servicio-2 {
      @media all and (max-width: $btMD + 100) {
        .contenido {
          background-color: $colorGris4;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0.31 * 100vw;
        height: 0;
        border-style: solid;
        border-width: (300px) (0.3 * 100vw) 0 0;
        border-color: $colorGris4 transparent transparent transparent;
      }
      .contenido {
        color: $colorGris2;
      }
    }
    &.servicio-3 {
      .contenido {
        padding: 25px;
        background-color: $colorRojo2;
        height: 90%;
        top: -5%;
        position: relative;
        width: 450px;
        @media all and (max-width: $btMD + 100) {
          top: auto;
          width: 100%;
          height: auto;
          padding-top: 65px;
          &::before,
          &::after {
            display: none;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 30px 200px 0 0;
          border-color: $colorRojo2 transparent transparent transparent;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 200px 30px 0;
          border-color: transparent $colorRojo2 transparent transparent;
        }
      }
    }
    &.servicio-4 {
      justify-content: flex-end;
      @media all and (max-width: $btMD + 100) {
        .contenido {
          background-color: #000;
        }
      }
    }
    &.servicio-5 {
      justify-content: flex-end;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 30vw;
        height: (300px);
        background-color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        right: 30vw;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 (0.3 * 100vw) (300px) 0;
        border-color: transparent #fff transparent transparent;
      }
      .contenido {
        padding-left: 75px;
        color: $colorGris2;
        @media all and (max-width: $btMD + 100) {
          background-color: #fff;
          padding-left: 25px;
        }
      }
    }
    &.servicio-6 {
      .contenido {
        @media all and (max-width: $btMD + 100) {
          background-image: linear-gradient(to bottom, #fff, #000);
        }
      }
    }
  }
}
</style>
