<template lang="pug">
  .newsletters
    .titulo
      span Suscribite a nuestro newsletter
    .formulario-respuesta
      .formulario
        form(
          @submit.prevent="sendMensaje"
          v-if="!envioCorrecto && !envioErroneo")
          input(
            placeholder='Nombre'
            name='nombre'
            type='text'
            v-model="contacto.nombre"
            v-validate="'required'"
            :class="{invalid: errors.has('nombre')}")
          input(
            placeholder='Email'
            name='telefono'
            type='email'
            v-model="contacto.email"
            v-validate="'required|email'"
            :class="{invalid: errors.has('telefono')}")
          button(
            type="submit"
            :disabled="sent || !validForm")
            span(v-if="!sent") Suscribirse
            font-awesome-icon(
              v-if="sent"
              icon="circle-notch"
              spin)
      .respuesta(v-if="envioCorrecto || envioErroneo")
        small(v-if="envioCorrecto") El mensaje fue enviado correctamente, nos contactaremos a la brevedad.
        small(v-if="envioErroneo") Ocurrió un error, intentalo nuevamente más tarde.
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      envioCorrecto: false,
      envioErroneo: false,
      contacto: {
        nombre: "",
        email: ""
      }
    };
  },
  methods: {
    async sendMensaje() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          this.envioCorrecto = false;
          this.envioErroneo = false;
          try {
            const { status } = await this.$http({
              method: "POST",
              url: "/api/mailing/newsletters",
              body: { ...this.contacto }
            });
            if (status === 201) {
              this.envioCorrecto = true;
            } else {
              this.envioErroneo = true;
            }
          } catch (error) {
            // console.error(error);
            this.envioErroneo = true;
          }
          this.sent = false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.newsletters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10vw;
  background-color: $colorGris1;
  @media all and (max-width: $btLG) {
    padding: 20px 5vw;
    flex-direction: column;
    justify-content: center;
  }
  .titulo {
    @media all and (max-width: $btLG) {
      margin-bottom: 15px;
      text-align: center;
    }
    span {
      text-transform: uppercase;
      color: #fff;
      font-size: 120%;
    }
  }
  .formulario-respuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media all and (max-width: $btMD) {
      width: 100%;
    }
    .formulario {
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (max-width: $btMD) {
        flex-direction: column;
        width: 100%;
      }
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and (max-width: $btMD) {
          flex-direction: column;
          width: 100%;
        }
        input {
          background-color: rgba(#000, 0.4);
          color: #fff;
          border: 0;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 10px;
          height: 40px;
          font-size: 102%;
          margin-bottom: 5px;
          @include ease-transition;
          margin-left: 15px;
          @media all and (max-width: $btMD) {
            margin: 0;
            margin-bottom: 15px;
            width: 100%;
          }
          &.invalid {
            @include sombra(inset 0 0 0 2px $colorRojo1);
          }
        }
        button {
          color: #fff;
          border: 0;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 102%;
          margin-bottom: 5px;
          @include ease-transition;
          background-color: $colorRojo1;
          text-transform: uppercase;
          font-size: 115%;
          padding: 0 10px;
          height: 40px;
        }
      }
    }
    .respuesta {
      small {
        color: #ccc;
      }
    }
  }
}
</style>
