<template lang="pug">
  #root-app
    MainMenu
    RouterView
    Footer
</template>

<script>
import MainMenu from "@/site/components/General/MainMenu";
import Footer from "@/site/components/General/Footer";

export default {
  components: {
    MainMenu,
    Footer
  }
};
</script>

<style lang="scss">
@import "~Styles/config";

@font-face {
  font-family: "Triomphe-Light";
  src: url("../assets/fonts/Triomphe-Light.ttf");
}
@font-face {
  font-family: "Triomphe-Regular";
  src: url("../assets/fonts/Triomphe-Regular.ttf");
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

a:focus,
button:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    #root-app {
      display: block;
      * {
        box-sizing: border-box !important;
        font-family: $fontTriompheRegular;
        // @include sombra(0 0 0 1px #fff);
      }
    }
  }
}
</style>
